{% include 'Item/base.html' %}

     <!-- Header-->
     <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Item {{item.name}} </h1>
            <p class="lead">A separate page of {{item.name}} .</p>
            <a class="btn btn-lg btn-light" href="/items">Go to Item List !</a>
        </div>
    </header>

      <!-- Items List section-->
      <div id="items" class="mb-3 mt-3">
        <div class="container  ">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card p-5">
                        <div class="card-title">
                            <h2 class="text-center">Item {{item.name}}</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{item.image}}" alt="item image" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <h4>Item Name : {{item.name}}</h4>
                                    <h4>Item Price : {{item.price}}</h4>
                                    <h4>Item Description : {{item.description}}</h4>
                                   
                                    <h4>Item Status : 

                                        {% if item.in_stock %} Available {% else %} Not-available {% endif %}
                                    </h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                 
            </div>
        </div>
    </div>

{% include 'Item/footer.html' %}